.albums{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.album {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

@media screen and (min-width: 680px) {
    .albums{
        flex-direction: row;
    }

    h2 {
        font-size: larger;
        font-weight: 1000;
    }

    .album {
        width: 300px;
        margin: 10px;
    }
}


